body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

button {
  cursor: pointer;
  letter-spacing: 0.04em;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07142857143;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

a {
  letter-spacing: 0.04em;
  font-size: 12px;
  text-decoration: underline;
  line-height: 1.5;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}
