.features-element-text {
  letter-spacing: 0.02em;
}

.features .container {
  gap: 24px;
  justify-content: flex-start;
}

.features > .container {
  flex-direction: column;
}

.features-element {
  width: calc((100% - 3 * 24px) / 4);
}

.features-element .features-element-text:first-child {
  margin-bottom: 8px;
}
