.nav-element {
  font-weight: 500;
  line-height: 1.5;
}

.nav-element-link {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.nav-element-link:hover {
  color: #404bbf;
}

.nav-element-link:focus {
  color: #404bbf;
}

.address-element {
  line-height: 1.5;
}

.address-element-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.address-element-link:hover {
  color: #404bbf;
}

.address-element-link:focus {
  color: #404bbf;
}
